# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\CLionProjects\Coursera\Data Structures and Algorithms\Algorithmic Toolbox\Week-3\Week3-Problem1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
